<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="form_pratice.Properties.Settings.DB_A6BCB0_tabledataConnectionString"
            connectionString="Data Source=sql5053.site4now.net;Initial Catalog=DB_A6BCB0_tabledata;Persist Security Info=True;User ID=DB_A6BCB0_tabledata_admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>